<h1 class="bg-success">Hello from default Component</h1>

<hr>

<app-footer></app-footer>

<hr>

<h2>Insert images from assets folder</h2>
<img src="assets\image\soccer-2.jpg" alt="Soccer2 Image" style="width: 300px; height: 300px;">

<img src="assets\image\soccer-3.jpg" alt="Soccer3 Image" style="width: 300px; height: 300px;">

<hr>

<h2>ngModel example</h2>

<h4>Table 1: takes values from app.component.ts file</h4>

<table>
  <tr>
    <td>Name: </td>
    <td><input type="text" [(ngModel)]="name"></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><input type="text" [(ngModel)]="email"></td>
  </tr>
  <tr>
    <td>Gender: </td>
    <td><input type="text" [(ngModel)]="gender"></td>
  </tr>
  <tr>
    <td>Age: </td>
    <td><input type="text" [(ngModel)]="age"></td>
  </tr>
  <tr>
    <td>Contact: </td>
    <td><input type="text" [(ngModel)]="contact"></td>
  </tr>
</table>

<hr>
<h4>Table 2: use of ngModel allows it to take values from above table</h4>

<table>
  <tr>
    <td>Name: </td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Email: </td>
    <td>{{ email }}</td>
  </tr>
  <tr>
    <td>Gender: </td>
    <td>{{ gender }}</td>
  </tr>
  <tr>
    <td>Age: </td>
    <td>{{ age }}</td>
  </tr>
  <tr>
    <td>Contact: </td>
    <td>{{ contact }}</td>
  </tr>
</table>

<hr>

<h2>creating generic div example</h2>

<div id="div1"><app-head></app-head></div>

<div id="div2"><app-aside></app-aside></div>

<div id="div3"><app-section></app-section></div>

<div id="div4"><app-article></app-article></div>

<div id="div5"><app-foot></app-foot></div>

<hr>

<h2>String interpolation example</h2>

<h3>Your name : {{ name }}</h3>

<h3>Email : {{ email }}</h3>

<h3>Contact : {{ contact }}</h3>

<h3>Sum of a + b : {{ a + b }}</h3>

<h3>Object Values : <span id="span1">{{ objValues.key1 }}, {{ objValues.key2 }}, {{ objValues.key3 }}</span></h3>

<h3>Array Values : <span style="color : crimson">{{ arrayValues }}</span></h3>

<h3>Access array by index value : <span style="color : crimson">{{ arrayValues[3] }}</span></h3>

<hr>

<h2>Click event example</h2>

<button (click)="showAlert()">Click me to show alert</button><br><br><br>

<button (click)=showCalculation(10,20)>Click me to show Calculation of 10 + 20</button><br><br><br>

<button (click)="showCalculation1(50,40)">Click me to show Calculation of 50 + 40 in p tag</button><br><br><br>

<p id="demo"></p>

<hr>

<h2>Key up event example</h2>

<input type="text" name="user" (keyup)="getValue($event)">

<input type="text" name="user" (keyup)="getValue1($event)">

<hr>

<h2>Angular material example</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>